.about{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.aboutItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
}

.aboutTitle{
    margin: 10px;
    padding: 5px;
    border-top: 1px solid #a7a4a4;
    border-bottom: 1px solid #a7a4a4;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: #222;
    font-weight: 600;
    line-height: 20px;    
}

.aboutP{
    font-size: 15px;
}

.aboutItem > img {
    margin-top: 15px;
    width: 270px;
    height: 200px;
}

.aboutItem > p {
    padding: 30px;
}

.aboutList{
    list-style: none;
    margin-bottom: 30px;
}

.aboutListItem{
    display: inline-block;
    width: 50%;
    margin-top: 15px;
}

.aboutSocial{
    margin-top: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Icon{
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}