.about{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
        ), 
        url('https://images.pexels.com/photos/5270358/pexels-photo-5270358.jpeg?cs=srgb&dl=pexels-erik-karits-5270358.jpg&fm=jpg');
    background-size: cover;
}

.aboutItem{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.aboutP{
    font-size: 30px;
}

.aboutTitle{
    margin: 15px;
    padding: 10px;
    border-top: 2px solid rgb(112, 108, 111);
    border-bottom: 2px solid rgb(112, 108, 111);
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    color:  rgb(59, 61, 32);
    font-weight: 600;
    line-height: 20px;    
    margin-bottom: 90px;
}

.aboutThankDiv{
    margin-top: 40px;
}

.aboutThank{
    margin: 10px;
    padding: 5px;
    font-family: 'Lora', serif;
    font-size: 40px;
    color: rgb(90, 1, 63);
    font-weight: 600;
    line-height: 20px; 
}